<!doctype><html><head><meta charset=utf8>
  <title>ICRA inventari electrònica</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script>
    let inventari={
      "Cables d'Alimentació":{
        "Transformador endoll 220V-AC - USB micro (mascle) (5V)": 1,
        "Cable 220V-AC - IEC-320-C5 (femella) (tipus 'mickey mouse')":1,
      },
      "Cables i Adaptadors":{
        "Adaptador DB9 (femella) - pins (TR+, TR-, RXD+, RXD-, GND)":1,
        "Adaptador DB9 (mascle - mascle)":1,
        "Adaptador mini displayport (mascle) - DVI-d (femella)": 1,
        "Cable DB9 (femella - femella)": 1,
        "Cable USB mini (mascle) - USB tipus A (mascle)":1,
        "Cable USB tipus A (allargador) (1 metre)":4,
        "Cable USB tipus A (mascle) - DB9 (mascle) (RS422/485) (marca DTech)": 1,
        "Cable micro USB C (mascle - mascle)":1,
      },
      "Arduino (microcontrolador programable)":{
        "Arduino UNO (USB tipus B)":1,
        "Arduino YUN (USB tipus A) (wifi)":1,
        "Arduino UNO (USB micro) (marca Seeeduino)":1,
      },
      "Raspberry Pi (mini ordinador Linux tamany placa alimentat per micro USB)":{
        "Raspberry Pi (model B)":3,
        "Shield RS485 (marca linksprite)":1,
      },
      "Protoboards":{
        "Protoboard 17x5x2 pins":3,
        "Protoboard 30x5x2 pins":1,
        "Protoboard 47x5x2 pins":1,
        "Protoboard 63x5x2 pins":2,
      },
      "Relés/Transistors":{
        "no n'hi ha":0,
      },
    };
  </script>
  <style>
    summary{
      cursor:pointer;
    }
    summary:hover{
      text-decoration:underline;
    }
    img{
      display:block;
      max-width:20%;
      max-height:250px;
      box-shadow:1px 1px 0px #ccc;
      margin-right:1px;
    }
    .h2{
      font-weight:bold;
      font-size:1.5em;
      margin-bottom:1px;
      margin-top:1px;
      background:#eee;
    }
  </style>
</head><body>
<b style="background:yellow">
  Aquesta pàgina és un draft pre-proposta.
  Responsable: lbosch.
  Pàgina en construcció (març 2024).
</b>

<div id=app>
  <h1>ICRA - Inventari Electrònica</h1>
  <p>Registre de cables, adaptadors, plaques i altres peces disponibles a ICRA</p>

  <!--inventari-->
  <details open>
    <summary class=h2>Inventari</summary>
    <div style="margin-left:0.83em">
      <details open v-for="cat,nom_cat in inventari">
        <summary><b>{{nom_cat}}</b></summary>
        <ul>
          <li v-for="quantitat,peça in cat">
            <b style="color:blue">[{{quantitat}}x]</b> &mdash;
            {{peça}}
          </li>
        </ul>
      </details>
    </div>
  </details>

  <!--nomenclatura-->
  <details open>
    <summary class=h2>Nomenclatura cables/connectors típics</summary>
    <div style="display:flex;">
      <img src="img/usb.jpg">
      <img src="img/iec-320.webp">
      <img src="img/db9.webp">
      <img src="img/screen.webp">
    </div>
  </details>
</div>

<script>
  let app = Vue.createApp({
    data(){return{
      inventari,
    }},
    methods:{},
  }).mount("#app");
</script>
